/* reset */
*{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;}
ul,ol,li{list-style:none;}
em,i,b{font-style:normal;font-weight:normal;}
img{border:none;}
button,input,img,video{vertical-align:middle;}
input[type="text"],input[type="tel"],input[type="password"],input[type="button"],input[type="submit"],button,textarea,select{-webkit-appearance:none;border:0;outline:none;border-radius:0;}
button,input,select,textarea{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;color:#008AFF;}
body,button,input,select,textarea{font-family:\5fae\8f6f\96c5\9ed1,Arial,Helvetica,sans-serif;}

html{height:100%;-webkit-text-size-adjust:none;}
body{background:#F3F3F3;color:#585858;min-height:100%;min-width:320px;margin:auto;line-height:1;}

/* tools */
.cfx:after{content:'';display:table;clear:both;}

.sell .cnt,
.ap,
.order .cnt,
.tabs,
.btn,
.box{-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.07);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.07);box-shadow:1px 1px 1px rgba(0,0,0,.07);}

/* ico   iG_A1代表global图片中的A行1列图标 */
.i{width:16px;height:16px;display:inline-block;vertical-align:-3px;background:#CCC;}
.i1{background:url("../image/prodAdd.png") no-repeat;-webkit-background-size:100% auto;background-size:100% auto;width:44px;height:44px;}
.i2{background:url("../image/i2.png") no-repeat;-webkit-background-size:100% auto;background-size:100% auto;width:54px;height:54px;}
.i3{background:url("../image/i3.png") no-repeat;-webkit-background-size:100% auto;background-size:100% auto;width:21px;height:21px;}

.iG{background:url("../image/iGlobal.png") no-repeat;-webkit-background-size:100px auto;background-size:100px auto;width:25px;height:25px;}
.iG_A1{background-position:0 0;width:20px;height:20px;}
.iG_C1{background-position:0 -50px;width:20px;height:20px;}
.iG_C2{background-position:-25px -50px;width:20px;height:20px;}

.iN{background:url("../image/iNav.png") no-repeat;-webkit-background-size:125px auto;background-size:125px auto;width:25px;height:25px;}
.iN_A1{background-position:0 0;width:28px;}
.iN_A2{background-position:-28px 0;width:22px;}
.iN_A3{background-position:-50px 0;}
.iN_A4{background-position:-75px 0;}
.iN_A5{background-position:-100px 0;}

.iL1{width:50px;height:15px;background:url("../image/loading.gif") no-repeat center;-webkit-background-size:50px auto;background-size:50px auto;}


/* upload */
.upload{position:relative;overflow:hidden;}
.upload input{position:absolute;height:100%;width:100%;opacity:0;}

/* frm */
.frm{display:block;}

/* btn */
.btn{text-align:center;}
.btnA{display:block;width:100%;background:#A276DD;line-height:50px;color:#FFF;font-size:18px;}
.btnB{display:block;width:100%;background:#FFF;line-height:50px;color:#585858;font-size:18px;}
.btnC{display:block;width:100%;background:#FFF;line-height:50px;color:#888888;font-size:18px;}
.btnD{display:block;width:100%;background:#B2B2B2;line-height:50px;color:#FFF;font-size:18px;}

.btn_disabled{background:#FAFAFA;color:#BBBBBB;}

/* sel */
.sel{background:#FFFFFF;display:block;text-align:center;position:relative;}
.sel select{display:block;width:100%;padding:0 10px;background-color:transparent;position:relative;z-index:1;}
.sel:after{content:'';position:absolute;z-index:0;width:16px;height:16px;right:10px;top:50%;margin-top:-8px;background:url("../image/iSel.png") no-repeat;-webkit-background-size:16px auto;background-size:16px auto;}

/* txt */
.txt input,.tarea textarea{display:block;width:100%;overflow:hidden;}

/* table */
.noBorder tr td:first-child{border-left:0;}
.noBorder tr td:last-child{border-right:0;}
.noBorder tbody:first-child tr:first-child td{border-top:0;}
.noBorder tbody:last-child tr:last-child td{border-bottom:0;}


/* pic */
.pic_cover{display:table;}
.pic_cover .img{display:table-cell;vertical-align:middle;text-align:center;}

/* loadMore */
.loadMore{padding:10px;}
.loadMore{}

/* ap */
.ap{margin-bottom:10px;}
.ap .hd{background:#DDDDDD;padding:0 5px 0 10px;}
.ap .h2{font-size:15px;line-height:35px;float:left;}
.ap .aside{float:right;}
.ap .aside .btn{line-height:27px;font-size:15px;display:inline-block;width:55px;margin:4px 0 4px 5px;}
.ap .cnt{background:#FFFFFF;}


/* pageOpts */
.pageOpts .optWrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;padding:10px 5px;background:#F3F3F3}
.pageOpts .opt{-webkit-box-flex:1;-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0;padding:0 5px;}
.pageOpts.fixed{height:70px;z-index:999;}
.pageOpts.fixed .optWrap{position:fixed;bottom:0;left:0;right:0;}

/* toolbar */
.siteNavs{height:52px;margin-top:20px;}
.siteNavWrap{position:fixed;z-index:99;left:0;bottom:0;width:100%;min-width:320px;background:#F1F1F1;border-top:1px solid #D9D6CA;}
.siteNav{width:20%;float:left;}
.siteNav .btn{display:block;padding:4px 0 3px;font-size:12px;color:#000;text-align:center;position:relative;}
.siteNav .btn b{display:block;line-height:18px;}
.siteNavs .on{background:#DCDCDC;}
.siteNavs .reminder{position:absolute;width:12px;height:12px;border-radius:999px;background:#B00;top:3px;left:50%;margin-left:10px;font-size:9px;line-height:12px;text-align:center;color:#FFF;}

/* sell */
.sell .main{display:block;padding:10px;background:#FFFFFF;padding-left:150px;position:relative;min-height:120px;font-size:12px;color:#888888;}
.sell .pic{position:absolute;left:0;top:0;width:140px;height:140px;}
.sell .img img{max-width:140px;max-height:140px;}
.sell .infs{margin:8px 0;}
.sell .inf{line-height:1.5;}
.sell .name,.sell .price{color:#585858;font-size:15px;}
.sell .name{line-height:1.1;}
.sell .toDetail{position:absolute;right:10px;top:50%;margin-top:-10px;}
.sell .opts{border-top:1px solid #C8C8C8;}
.sell .opt{float:left;width:25%;}
.sell .opt a{display:block;border-left:1px solid #E2E2E2;background:#FFF;font-size:15px;color:#585858;text-align:center;line-height:38px;}
.sell .opt:first-child a{border-left:0;}
.sell .blank{font-size:24px;color:#888888;text-align:center;padding:120px 0;}

/* order */
.order{}
.order .cnt{display:block;}
.order .main{display:block;padding:10px;background:#FFFFFF;padding-left:150px;position:relative;min-height:120px;font-size:12px;color:#888888;}
.order .pic{position:absolute;left:0;top:0;width:140px;height:140px;}
.order .img img{max-width:140px;max-height:140px;}
.order .infs{margin:8px 0;}
.order .inf{line-height:1.5;}
.order .address{padding-right:20px;min-height:54px;}
.order .name,.order .price{color:#585858;font-size:15px;}
.order .name{line-height:1.1;}
.order .toDetail{position:absolute;right:10px;top:50%;margin-top:-10px;}
.order .opts{position:relative;}
.order .opt.quickPush{position:absolute;top:5px;right:5px;z-index:1;}
.order .opt.quickPush a{display:block;line-height:26px;font-size:15px;color:#585858;background:#E5E5E5;width:62px;text-align:center;}
.order .ft{border-top:1px solid #E2E2E2;color:#585858;font-size:15px;line-height:38px;background:#FBFBFB;padding:0 10px;}
.order .ft .oId{float:left;}
.order .ft .date{float:right;}
.order .blank{font-size:24px;color:#888888;text-align:center;padding:120px 0;}

/*mw*/
.mw{position:absolute;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.4);
    display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;
    -webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
    -webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;
    -webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;
    text-align: center;
}
.mw .wrap{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:25px;padding-right:25px;}
.mw .main{background:#FBFBFB;}
.mw .main .cnt{font-size:24px;color:#585858;padding:35px;line-height:1.2;min-height:70px;
    display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;
    -webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
    -webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;
    -webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;
    text-align: center;
}
.mw .main .opts{border-top:1px solid #C8C8C8;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;}
.mw .main .opt{-webkit-box-flex:1;-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0;width:100%;}
.mw .main .opt a{display:block;line-height:56px;font-size:18px;color:#585858;border-left:1px solid #C8C8C8;}
.mw .main .opt:first-child a{border-left:0;}

/* ---------- 0 login ------------ */
.loginPanel{padding:15px 0;}
.loginPanel .toStart{padding:0 15px;font-size:15px;text-align:right;}
.loginPanel .toStart a b{text-decoration:underline;}
.loginPanel .siteLogo{text-align:center;}
.loginPanel .siteLogo img{width:98px;height:98px;}

.loginForm{padding:25px 35px;}
.loginForm .frms{margin-bottom:25px;}
.loginForm .frm{margin-bottom:10px;border:1px solid #B1B1B1;position:relative;background:#FFF;padding:12px 5px;}
.loginForm .frm .des{position:absolute;top:14px;left:10px;font-size:15px;}
.loginForm .frm .data{margin-left:3em;}
.loginForm .frm .data input{background:transparent;font-size:15px;display:block;width:100%;}

.loginForm .login{padding:0 5px;}
.loginForm .helps{margin:12px 0;font-size:15px;}
.loginForm .remember{float:left;}
.loginForm .remember .cbx{display:block;}
.loginForm .remember .cbx input{margin-right:3px;vertical-align:-1px;}
.loginForm .forget{float:right;}
.loginForm .forget a{text-decoration:underline;}

/* ---------- 1 produdcts ------------- */
.sellsFilter{margin:10px;}
.sellsFilter .wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;}
.sellsFilter .opt{width:25%;-webkit-box-flex:1;-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0;border-left:1px solid #F3F3F3;background:#FFFFFF;}
.sellsFilter .opt:first-child{border-left:0;}
.sellsFilter .choice{display:block;line-height:45px;height:45px;font-size:15px;color:#585858;text-align:center;}
.sellsFilter .choice{padding:0 5px;}
.sellsFilter .choice_on{background:#A9A9A9;color:#FFF;}
.sellsFilter .choice_range{position:relative;}
.sellsFilter .choice_range:after{content:'';position:absolute;z-index:1;width:16px;height:16px;right:10px;top:50%;margin-top:-8px;background:url("../image/iRange.png") no-repeat;-webkit-background-size:16px auto;background-size:16px auto;}
.sellsFilter .choice_on{background:#A9A9A9;}
.sellsFilter .choice_range.choice_on_0:after{background-position:0 -16px;}
.sellsFilter .choice_range.choice_on_1:after{background-position:0 -32px;}

.prodList{}
.prodList .sell{margin:10px;}

.prodAdd{height:30px;}
.prodAddWrap{position:fixed;right:5px;bottom:60px;z-index:99;}
.prodAdd a{display:block;}

body.guide_show .guide{display:block;}
body.guide_show > .prodAdd{display:none;}
.guide{background:rgba(0,0,0,.4);position:fixed;top:0;right:0;bottom:0;left:0;z-index:1000;display:none;}
.guide .siteNav{position:absolute;bottom:0;left:50%;margin-left:-25px;width:50px;height:50px;background:#FFF;border-radius:25px;}
.guide .arrow{position:absolute;padding-bottom:52px;min-width:40px;background:url("../image/arrow.png") no-repeat bottom right;-webkit-background-size:40px auto;background-size:40px auto;font-size:18px;color:#FFFFFF;}
.guide .arrow_seller{bottom:50px;right:49%;}
.guide .arrow_sell{bottom:102px;right:25px;}

/* ---------- 2 produdcts add ------------- */
.addProd{padding:10px;}

.sPicList{font-size:0;padding:5px 5px 0;}
.sPicList .wrap{}
.sPicList .pic{display:inline-block;vertical-align:top;width:80px;margin:0 10px 5px 0;}
.sPicList .pic .preview{background:#F1F1F1;height:80px;}
.sPicList .pic .preview img{max-width:80px;max-height:80px;}
.sPicList .pic .des{background:#E5E5E5;text-align:center;line-height:26px;font-size:15px;color:#585858;}
.sPicList .pic_add .preview{background:#F1F1F1;}
.sPicList .pic_add .preview .i{margin:13px;}

.sStyleList{}
.sStyleList .wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;}
.sStyleList .radio{display:block;padding:10px 0;text-align:center;border-left:1px solid #F4F4F4;-webkit-box-flex:1;-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0;}
.sStyleList .radio:first-child{border-left:0;}
.sStyleList .radio input{vertical-align:-1px;margin-right:3px;}

.sInfTable{}
.sInfTable table{width:100%;}
.sInfTable td{border:1px solid #E2E2E2;padding:5px;font-size:15px;}
.sInfTable td:nth-child(2n-1){width:25%;background:#FBFBFB;}
.sInfTable .txt input,.sInfTable .tarea textarea,.sInfTable .sel select{padding:5px;font-size:15px;}

.sTypes{}
.sTypes table{width:100%;}
.sTypes td{border:1px solid #E2E2E2;font-size:15px;width:33%;text-align:center;font-weight:normal;line-height:42px;}
.sTypes .title td{background:#FBFBFB;}
.sTypes .data td:last-child{position:relative;}
.sTypes .data td:last-child:after{content:'';position:absolute;z-index:0;width:16px;height:16px;right:10px;top:50%;margin-top:-8px;background:url("../image/iSel.png") no-repeat;-webkit-background-size:16px auto;background-size:16px auto;}
.sTypes .show .data td:last-child:after{background-position:left bottom;}
.sTypes .opts{display:none;}
.sTypes .opts a{display:block;text-align:center;color:#585858;background:#F1F1F1;}
.sTypes .show .opts{display:table-row;}

.setProdType .pageOpts .optWrap{background:#FBFBFB;}

.sTypeBoard{}
.typeBoard{padding:10px;border-top:1px solid #E2E2E2;background:#FBFBFB;}
.typeBoard:first-child{border-top:0;}

.sTypeFrm{position:relative;}
.sTypeFrm .des{position:absolute;left:0;top:15px;font-size:15px;}
.sTypeFrm .data{margin-left:50px;font-size:0;}
.sTypeFrm .choice{display:inline-block;vertical-align:top;margin:0 10px 5px 0;}
.sTypeFrm .choice .cnt{line-height:40px;width:70px;border:1px solid #818181;padding:1px;font-size:15px;color:#585858;text-align:center;}
.sTypeFrm .choice_on .cnt{padding:0;border:2px solid #A276DD;}
.sTypeFrm .choice_input{display:block;margin-right:0;}
.sTypeFrm .choice_input .cnt{width:auto;}
.sTypeFrm .choice_input .cnt input{font-size:15px;padding:9px;}
.type_total .choice_input{width:120px;}

/* ---------- 3 orders ------------- */
.orderFilter{margin:10px;}
.orderFilter .wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;}
.orderFilter .tab{-webkit-box-flex:1;-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0;}
.orderFilter .tab a{display:block;border-left:1px solid #E2E2E2;background:#FFF;font-size:15px;color:#585858;text-align:center;line-height:38px;}
.orderFilter .tab:first-child a{border-left:0;}
.orderFilter .tab_on a{background:#A9A9A9;color:#FFF;}


.orderList .order{margin:10px;}

/* ---------- 3 order detail ------------- */
.orderDetail{padding:10px;}
.orderDetail .total{position:relative;}
.orderDetail .total .cnt{position:absolute;top:0;right:5px;z-index:1;font-size:18px;color:#585858;text-align:right;line-height:29px;}

.oBasicInf{}
.oBasicInf .frm{position:relative;padding:5px;}
.oBasicInf .frm .des{position:absolute;top:6px;left:10px;font-size:15px;}
.oBasicInf .frm .data{margin-left:4.5em;font-size:15px;line-height:1.2;}
.oBasicInf .oId{border-bottom:1px solid #EAEAEA;}

.oDetail .main{display:block;padding:10px;background:#FFFFFF;padding-left:150px;position:relative;min-height:120px;font-size:12px;color:#888888;}
.oDetail .pic{position:absolute;left:0;top:0;width:140px;height:140px;}
.oDetail .img img{max-width:140px;max-height:140px;}
.oDetail .sId{font-size:15px;}
.oDetail .price{text-align:right;}

.oDetailTable{margin:5px 0;}
.oDetailTable table{width:100%;}
.oDetailTable th,.oDetailTable td{border:1px solid #EAEAEA;padding:5px;font-size:12px;text-align:center;}
.oDetailTable th{background:#F5F5F5;}

/* ---------- 4 setting ------------- */
.ownerSetting{padding:10px;}
.ownerSetting .app{margin-bottom:10px;}
.ownerSetting .app .hd{padding:5px;font-size:18px;line-height:1.4;}
.ownerSetting .opt{margin-top:30px;}

.ownerPicAdd{height:120px;line-height:120px;text-align:center;font-size:16px;}

.ownerDesc{}
.ownerDesc .tarea{border:1px solid #B1B1B1;}
.ownerDesc .tarea textarea{height:80px;padding:5px;}

.num{margin-bottom:10px;margin-left:5px;}
.numWrap{display:inline-block;vertical-align:middle;font-size:0;}
.num .btn{width:30px;height:30px;border:1px solid #B1B1B1;font-size:24px;color:#808080;text-align:center;background-image:-webkit-linear-gradient(bottom, #DBDBDB, #FFF);background-image:linear-gradient(to top, #DBDBDB, #FFF);}
.num .btn .i{vertical-align:-2px;}
.num .cnt{font-size:14px;height:30px;border:1px solid #B1B1B1;width:60px;text-align:center;margin:0 -1px;}
.num .disable{background:#E6E6E6;}
.num .des{display:inline-block;vertical-align:middle;margin-left:10px;}











